<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/header :: head(titulo='Cierre De Cta.', plantilla='user-form')">
</head>
<head>
	<script th:inline="javascript">
		function submitBackup(){
			var params = {};
			params["nameproc"] = [[${procname}]];
		    $("#spinner").removeClass("d-none");
		    
			$.ajax({
				type:"post",
				url: "api/fondo/backup",
				        
		        contentType: "application/json",
		        data: JSON.stringify(params),
		        dataType: 'text',
		        cache: false,
		        timeout: 600000,
		
				success:function(data){
					$("#spinner").addClass("d-none");
					$("#successMessage").removeClass("d-none");
		            $("#successMessage").html("El proceso de respaldo finaliz&oacute; exitosmante!.");
		            $("#successMessage").show();
		            setTimeout(function(){	$("#successMessage").hide('slow'); }, 2000);
				},
				error: function (e){
					$("#spinner").addClass("d-none");
		            $("#errorMessage").removeClass( "d-none" );
		            $("#successMessage").addClass( "d-none" );
		            $("#errorMessage").html(e.responseText);
					
				}
			});
		}
		
		function submitRestore(){
			var params = {};
			params["nameproc"] = [[${procname}]];
		    $("#spinner").removeClass("d-none");
			$.ajax({
				type:"post",
				url: "api/fondo/restore",
				        
		        contentType: "application/json",
		        data: JSON.stringify(params),
		        dataType: 'text',
		        cache: false,
		        timeout: 600000,
		
				success:function(data){
					$("#spinner").addClass("d-none");
					$("#successMessage").removeClass("d-none");
		            $("#successMessage").html("El proceso de restauraci&oacute;n finaliz&oacute; exitosmante!.");
		            $("#successMessage").show();
		            setTimeout(function(){	$("#successMessage").hide('slow'); }, 2000);
				},
				error: function (e){
					$("#spinner").addClass("d-none");
		            $("#errorMessage").removeClass( "d-none" );
		            $("#successMessage").addClass( "d-none" );
		            $("#errorMessage").html(e.responseText);
					
				}
			});
		}
	
		window.setTimeout(function() {
		    $("#ferror").fadeTo(500, 0).slideUp(500, function(){
		        $(this).remove(); 
		    });
		}, 2000);
	</script>
	<script type="text/javascript">
	    $(document).ready(function() {
	        $('#plantaList').DataTable();
	    } );
	</script>

</head>
<body>
	<div th:replace="/fragments/header :: 
		${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'header-admin' : 'header-user'"></div>
	<div class="container" >
		<div class="mx-auto col-lg-12 main-section">
			<div class="card">
				<div class="card-header">
                   	<table style="width:100%">
                   		<tr>
                   			<td><h4>Cierre de Cuenta</h4></td>
							<td style="text-align:right">
								<a href="javascript:submitBackup()" class="card-link"> Respaldo Previo al Cierre de Cuenta 
									<i class='fas fa-arrow-circle-down' style='font-size:24px;color:darkgreen'></i>
								</a>
							</td>
                   		</tr>
                   		<tr>
                   			<td>
	          					<a href="#"  data-toggle="modal" data-target="#helpModal">
                        			<span aria-hidden="true"><i class="fas fa-info-circle"></i></span>Ayuda </a>
                   			</td>
							<td style="text-align:right">
								<a href="javascript:submitRestore()" class="card-link">Restauraci&oacute;n a la situaci&oacute;n anterior
									<i class='fas fa-arrow-circle-up' style='font-size:24px;color:darkgreen'></i>
								</a>
							</td>
                   		</tr>
                   	</table>
					<div class="row d-flex justify-content-center mt-100">
						<div id="spinner" class="spinner-border text-success d-none" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						<div id="errorMessage"  class="card alert alert-danger text-center d-none" role="alert">Mensaje de Error</div>
						<div id="successMessage" class="card alert alert-success text-center d-none" role="alert">Success Message</div>			
					</div>
				</div>
				<div class="card-body">
					<form class="form" th:action="@{/ejecutarCierreCta}" th:object="${cierrectaForm}"  method="post" role="form" autocomplete="off">
						<input type="hidden" th:field="*{idfuncionario}" th:if="${outputMode}">
						<div class="card-deck">
							<div class="card">
								<div class="card-body">
									<div class="form-group row">
						   				<label class="col-lg-6 text-left">Funcionario</label>
						   				<div class="col-lg-4" >
											<select th:field="*{idfuncionario}"  id="func-select">
												<option value=""> Seleccionar una opci&oacute;n </option>
												<option th:each="funcionario :${plantaList}" th:value="${funcionario.idgplanta}" th:text="${funcionario.nombre}"></option>
											</select>
							           </div>
									</div>
									<div class="form-group row">
										<label class="col-lg-6 col-form-label form-control-label">Fecha Egreso</label>
										<div class="col-lg-6 input-group date">
							               <input type="date" class="form-control" id="egresodate" autocomplete="off" th:field="${cierrectaForm.fechaEgreso}"/>
							               <div class="input-group-append">
							                   <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
							               </div>
											<div class="alert-danger" th:if="${#fields.hasErrors('fechaEgreso')}" th:errors="*{fechaEgreso}">Ingreso</div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-6 col-form-label form-control-label">Resultado del Ejercicio</label>
										<input class="col-lg-4 form-control" type="text" th:field="*{resultEjercicio}">
										<div class="alert-danger" th:if="${#fields.hasErrors('resultEjercicio')}" th:errors="*{resultEjercicio}">suma ingresada</div>
									</div>								
								</div>
							</div>
							<div class="card">
								<div class="card-body">
									<div class="row d-flex">
										<label class="col-lg-10 form-control-label">Si el funcionario tiene Licencia No Gozada</label>
									</div>
									<div class="form-group row">
										<label class="col-lg-6 col-form-label form-control-label">Importe S/Complemento</label>
										<input class="col-lg-4 form-control" type="text" th:field="*{licenciaSinComp}">
										<div class="alert-danger" th:if="${#fields.hasErrors('licenciaSinComp')}" th:errors="*{licenciaSinComp}">LicenciaSinComplemento</div>
									</div>								
									<div class="form-group row">
										<label class="col-lg-6 col-form-label form-control-label">Importe C/Complemento</label>
										<input class="col-lg-4 form-control" type="text" th:field="*{licenciaCompleta}">
										<div class="alert-danger" th:if="${#fields.hasErrors('licenciaCompleta')}" th:errors="*{licenciaCompleta}">licencia Completa</div>
									</div>								
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="col-lg-12 text-center">
	 						   	    <button id="boton" type="submit" class="btn btn-secondary" name="calcularCierre" >Calcular Cierre</button>
	 						   	    <button id="boton" type="submit" class="btn btn-primary" name="cerrarCta" >Cerrar Cuenta</button>
								 	<a href="#" th:href="@{'/home'}" class="btn btn-secondary" style="margin-left:2px;">
								 	    <span> Cerrar </span> <span class="float-right" style="padding-left:6px;"><i class="fas fa-sign-out-alt"></i></span>
									</a>
								</div>
							</div>
						</div>				
					<div id="fmess">
					    <div id="ferror" class="alert alert-danger text-center" th:if="${formError}" th:text="${formError}">Error Message</div>
					    <div id="fsuccess" class="alert alert-success text-center" th:if="${formSuccess}" th:text="${formSuccess}">Success Message</div>
					</div>					
					<div class="panel panel-default table-responsive"  th:if="${outputMode}">
						<div class="panel-heading">
							<h5>Resultado del Cierre de la Cuenta</h5>
							<div class="a">
								<button type="submit" class="btn-link" name="exportExcel">Export a Excel
									<i class='fas fa-file-excel' style='font-size:24px;'></i></button>
							</div>
						</div>
						<div class="panel-body">
							<div class="row d-flex">
								<label class="col-lg-4 form-control-label"> Funcionario: <span class="col-lg-2" th:text="${estadoDeCtaFinal.funcionario.nombre}"></span></label>
	 							<label class="col-lg-2 form-control-label"> Nro. <span class="col-lg-2" th:text="${estadoDeCtaFinal.funcionario.tarjeta}"></span></label>
	 							<label class="col-lg-6 form-control-label"> Fecha de Egreso: <span class="col-lg-2" th:text="${#temporals.format(estadoDeCtaFinal.fechaEgreso, 'dd-MM-yyyy')}"></span></label> 
							</div>
 							<div class="row d-flex">
 								<label class="col-lg-6 col-form-label form-control-label">Cuenta de Integraci&oacute;n: </label>
 								<span class="col-lg-6" th:text="${#numbers.formatDecimal(estadoDeCtaFinal.capitalIntegrado,3,'POINT',2,'COMMA')}"></span>
 							</div>
 							<div class="row d-flex">
 								<label class="col-lg-6 col-form-label form-control-label">Aporte sobre Haberes: </label>
 								<span class="col-lg-6" th:if="${estadoDeCtaFinal.aporteTotal gt 0}" th:text="${#numbers.formatDecimal(estadoDeCtaFinal.aporteTotal,1,'POINT',2,'COMMA')}"></span>
 								<span class="col-lg-6" th:if="${estadoDeCtaFinal.aporteTotal eq 0}">(Ya incluidos en el cierre mensual)</span>
 							</div>
 							<div class="row d-flex">
 								<label class="col-lg-6 col-form-label form-control-label">Aporte sobre Aguinaldo: </label>
 								<span class="col-lg-6" th:if="${estadoDeCtaFinal.aporteTotalSobreAguinaldo gt 0}" th:text="${#numbers.formatDecimal(estadoDeCtaFinal.aporteTotalSobreAguinaldo,1,'POINT',2,'COMMA')}"></span>
 								<span class="col-lg-6" th:if="${estadoDeCtaFinal.aporteTotalSobreAguinaldo eq 0}">(Ya incluidos en el cierre mensual)</span>
 							</div>
 							<div class="row d-flex">
 								<label class="col-lg-6 col-form-label form-control-label">Aporte sobre Licencia No Gozada: </label>
 								<span class="col-lg-6" th:if="${estadoDeCtaFinal.aporteTotLicencia gt 0}" th:text="${#numbers.formatDecimal(estadoDeCtaFinal.aporteTotLicencia,1,'POINT',2,'COMMA')}"></span>
 								<span class="col-lg-6" th:if="${estadoDeCtaFinal.aporteTotLicencia eq 0}">(La liq. no incluye licencia No gozada)</span>
 							</div>
							<div class="row d-flex">
 								<label class="col-lg-6 col-form-label form-control-label">Saldo de Pr&eacute;stamos Acumulado: </label>
 								<span class="col-lg-6" th:if="${estadoDeCtaFinal.saldoPrestamos != null}" 
 									th:text="${#numbers.formatDecimal(estadoDeCtaFinal.saldoPrestamos,3,'POINT',2,'COMMA')}"></span>
							</div>
 							<div class="row d-flex">
 								<label class="col-lg-6 col-form-label form-control-label">Intereses por Colocaciones: </label>
 								<span class="col-lg-6" th:text="${#numbers.formatDecimal(estadoDeCtaFinal.interesesporcolocaciones,1,'POINT',2,'COMMA')}"></span>
 							</div>
 							<div class="row d-flex">
 								<label class="col-lg-6 col-form-label form-control-label">Saldo a cobrar U$S: </label>
 								<span class="col-lg-6" th:text="${#numbers.formatDecimal(estadoDeCtaFinal.saldoCuenta,3,'POINT',2,'COMMA')}"></span>
 							</div>
						</div>
					</div>
					</form>
			 		<div class="panel-heading" th:if="${outputMode and #lists.isEmpty(estadoDeCtaFinal.lstPrst)}">
			 			El funcionario no tiene pr&eacute;stamos pendientes
			 		</div>
			 		<div class="panel panel-default" th:if="${outputMode and not(#lists.isEmpty(estadoDeCtaFinal.lstPrst))}">
			 			<div class="panel-heading" th:if="${outputMode}">
			 				<h4>Pr&eacute;stamos vigentes</h4>
			 			</div>
			 			<div class="panel-body" th:if="${outputMode}">
					      <div class="table-responsive">
					          <table id="lstPrst" class="table table-bordered table-hover table-striped table-sm">
					              <thead class="thead-light">
					              <tr>
					                  <th scope="col">No. Prst.</th>
					                  <th scope="col">Fecha Prst.</th>
					                  <th scope="col">Tipo Prst.</th>
					                  <th scope="col">Capital</th>
					                  <th scope="col">Tasa</th>
					                  <th scope="col">Cant.Cuotas</th>
					                  <th scope="col">Importe Cuota</th>
					                  <th scope="col">Cuotas Pagas</th>
					                  <th scope="col">Saldo Prst.</th>
					              </tr>
					              </thead>
					              <tbody>
									<tr th:each="prst: ${estadoDeCtaFinal.lstPrst}">
										<td class="text-right" th:text="${prst.nroprestamo}"></td>
										<td th:text="${#temporals.format(prst.fechaPrestamo, 'dd-MM-yyyy')}"></td>
										<td th:text="${prst.tipoPrestamo.descripcion}"></td>
										<td class="text-right" th:text="${#numbers.formatDecimal(prst.capitalPrestamo,3,'POINT',2,'COMMA')}"></td>
										<td class="text-right" th:text="${#numbers.formatDecimal(prst.interesPrestamo, 1, 'POINT',2,'COMMA')}"></td>
										<td class="text-right" th:text="${prst.cantCuotas}"></td>
										<td class="text-right" th:text="${#numbers.formatDecimal(prst.cuota,1, 'POINT', 2,'COMMA')}"></td>
										<td class="text-right" th:text="${prst.cuotasPagas}"></td>
										<td class="text-right" th:text="${#numbers.formatDecimal(prst.saldoPrestamo,3,'POINT',2,'COMMA')}"></td>
									</tr>
					              </tbody>
					          </table>
					      </div>
			 			</div>
			 		</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="help-dialog.html" th:remove="tag"></div>
</body>
</html>s