<html>
<head th:replace="/fragments/header :: head(titulo='Login Fondo de Previsi&oacute;n Mercosur', plantilla='index')">
</head>
<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="static/img/user.png" th:src="@{/img/avatar5.png}"/>
                </div>
                <form class="col-12" th:action="@{/login}" method="post">
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario" name="username"/>
                    </div>
                    <div class="form-group" id="contrasenia-group">
                        <input type="password" class="form-control" placeholder="Contrase&ntilde;a" name="password"/>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
                </form>
                <p>
                	<a th:href="@{/forgotPassword}">Olvid&eacute; mi contrase&ntilde;a</a>
                </p>
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
		            Username o Password inv&aacute;lido.
		        </div>
		        <div th:if="${param.logout}" class="alert alert-success" role="alert">
		            Su sesi&oacute;n ha sido cerrada.
		        </div>
            </div>
        </div>
    </div>
</body>
</html>
