<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head(titulo='C&aacute;lculo de Aportes', plantilla='user-form')">
</head>
<head>
	<!--  Nuestro js -->
	<script th:inline="javascript">
	function submitBackup(idproc){
		var params = {};
		params["nombreproc"] = [[${procname}]];
		if(idproc === undefined){
			idproc = 0;
		}
		else{
			params["idproc"] = idproc;		
		}
	    $("#spinner").removeClass("d-none");
	    
		$.ajax({
			type:"post",
			url: "api/fondo/backup/intermedio",
			        
	        contentType: "application/json",
	        data: JSON.stringify(params),
	        dataType: 'text',
	        cache: false,
	        timeout: 600000,

			success:function(data){
	            $("#spinner").addClass("d-none");
				$("#successMessage").removeClass("d-none");
	            $("#successMessage").html("El proceso de respaldo finaliz&oacute; exitosmante!.");
	            $("#successMessage").show();
	            setTimeout(function(){	$("#successMessage").hide('slow'); }, 2000);

			},
			error: function (e){
				$("#spinner").addClass("d-none");
	            $("#errorMessage").removeClass( "d-none" );
	            $("#successMessage").addClass( "d-none" );
	            $("#errorMessage").html(e.responseText);
				
			}
		});
	}
	
	function submitRestore(idproc){
		var params = {};
		params["nombreproc"] = [[${procname}]];
		if(idproc === undefined){
			idproc = 0;
		}
		else{
			params["idproc"] = idproc;		
		}
	    $("#spinner").removeClass("d-none");
		$.ajax({
			type:"post",
			url: "api/fondo/restore/intermedio",
			        
	        contentType: "application/json",
	        data: JSON.stringify(params),
	        dataType: 'text',
	        cache: false,
	        timeout: 600000,

			success:function(data){
				$("#spinner").addClass("d-none");
				$("#successMessage").removeClass("d-none");
	            $("#successMessage").html("El proceso de restauraci&oacute;n finaliz&oacute; exitosmante!.");
	            $("#successMessage").show();
	            setTimeout(function(){	$("#successMessage").hide('slow'); }, 2000);
	 		},
			error: function (e){
				$("#spinner").addClass("d-none");
	            $("#errorMessage").removeClass( "d-none" );
	            $("#successMessage").addClass( "d-none" );
	            $("#errorMessage").html(e.responseText);
				
			}
		});
	}

</script>

	<script type="text/javascript">
	    $(document).ready(function() {
	        $('input[type="radio"]').change(function() {
	            var rad = $(this).attr('value'); 
	            	$('#' + rad + '_div').removeClass("d-none");
	                $('#' + rad + '_div').show();
	                $('#' + rad + '_div').siblings('div').hide();
	        });
	    } );
	    
	</script>
</head>
<body>
	<div th:replace="/fragments/header :: 
		${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'header-admin' : 'header-user'"></div>
	<div class="container" >	
        <div class="mx-auto col-lg-12 main-section" id="aptTab" role="tablist">
            <ul class="nav nav-tabs justify-content-end">
                <li class="nav-item">
                	<a class="nav-link" th:classappend=" ${aportesTab}" id="aportes-tab" data-toggle="tab" href="#aportes" role="tab" aria-controls="form" aria-selected="false">C&aacute;lculo de Aportes</a>
                </li>
                <li class="nav-item">
                	<a class="nav-link" th:classappend=" ${basicoTab}" id="basico-tab" data-toggle="tab" href="#basico" role="tab" aria-controls="form" aria-selected="false">Modificaci&oacute;n del B&aacute;sico</a>
                </li>
                <li class="nav-item">
	                <a class="nav-link" th:classappend=" ${resultTab}" id="result-tab" data-toggle="tab" href="#result" role="tab" aria-controls="list" aria-selected="true">Resultado del C&aacute;lculo</a>
                </li>            				   	
                <li>
			 		<a href="#" th:href="@{'/home'}" class="nav-link close-tab" role="tab"><span><i class="fas fa-times close-button" ></i></span></a>
                </li>          				   	
            </ul>
            <div class="tab-content" id="aptTabContent">
                <div class="tab-pane fade show " th:classappend=" ${aportesTab}" id="aportes" role="tabpanel" aria-labelledby="aportes-tab">
                     <div class="card">
                        <div class="card-header">
                        	<table style="width:100%">
                        		<tr>
                        			<td><h4>C&aacute;lculo de Aportes</h4></td>
									<td style="text-align:right">
										<a href="javascript:submitBackup(5)" class="card-link"> Respaldo Previo al C&aacute;lculo 
											<i class='fas fa-arrow-circle-down' style='font-size:24px;color:darkgreen'></i>
										</a>
									</td>
                        		</tr>
                        		<tr>
                        			<td>
			          					<a href="#"  data-toggle="modal" data-target="#helpModal">
		                        			<span aria-hidden="true"><i class="fas fa-info-circle"></i></span>Ayuda </a>
                        			</td>
									<td style="text-align:right">
										<a href="javascript:submitRestore(5)" class="card-link">Restauraci&oacute;n a la situaci&oacute;n anterior
											<i class='fas fa-arrow-circle-up' style='font-size:24px;color:darkgreen'></i>
										</a>
									</td>
                        		</tr>
                        	</table>
							<div class="row d-flex justify-content-center mt-100">
								<div id="spinner" class="spinner-border text-success d-none" role="status">
								  <span class="sr-only">Loading...</span>
								</div>
							</div>
							<div id="errorMessage"  class="card alert alert-danger text-center d-none" role="alert">Mensaje de Error</div>
							<div id="successMessage" class="card alert alert-success text-center d-none" role="alert">Success Message</div>			
						    <div id="ferror" class="alert alert-danger text-center" th:if="${formError}" th:text="${formError}">Error Message</div>
						    <div id="fsuccess" class="alert alert-success text-center" th:if="${formSuccess}" th:text="${formSuccess}">Success Message</div>
                        </div>
                        <div class="card-body">
							<form id="aportesFormId" th:action="@{/calculoAportes}" th:object="${aportesForm}" method="post"
								class = "form" autocomplete="off" role="form">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h5> Aportes Sobre...</h5>
									</div>
									<div class="panel-body">
										<table style="width:100%">
											<tr>
												<td style="width:50%">
													<div class="form-group row d-flex">
											            <div th:each="tipo : ${T(org.mercosur.fondoPrevision.enums.AportesSobre).values()}">
											                <div class="col-lg-6 custom-control custom-radio custom-control-inline">
											                    <input type="radio" th:field="*{aporteSobre}" th:value="${tipo}" class="custom-control-input">
											                    <label class="custom-control-label" th:for="${#ids.prev('aporteSobre')}" th:text="${tipo.displayValue}"></label>
											                </div>
											            </div>
													</div>
												</td>
												<td style="width:50%">
													<div id="HABERES_div" class="form-group row d-none">
														<label class="col-lg-4 col-form-label form-control-label"> Mes Liquidaci&oacute;n</label>
														<div class="col-lg-4">
															<input class="form-control" id="mesliq" type="text" th:field="${aportesForm.mesliquidacion}"
																placeholder="mm/yyyy" title="se solicita ingresar respetando el formato">
															<div class="alert-danger" th:if="${#fields.hasErrors('mesliquidacion')}" th:errors="*{mesliquidacion}">MesLiquidacion</div>					
														</div>
													</div>
													<div id="AGUINALDO_div" class="form-group row d-none">
														<label class="col-lg-4 col-form-label form-control-label">Per&iacute;odo</label>
														<div class="col-lg-4">
															<input class="form-control" id="desde" type="text" th:field="*{desde}"
																placeholder="mm/yyyy" title="se solicita ingresar respetando el formato">
														</div>
														<div class="col-lg-4">
															<input class="form-control" id="hasta" type="text" th:field="*{hasta}"
																placeholder="mm/yyyy" title="se solicita ingresar respetando el formato">
														</div>
													</div>
												</td>
											</tr>
										</table>
									</div>
								</div>
								<div class="body-panel">
										<div class="form-group row mx-auto">
											<div class="col-lg-12 text-center">
											   		<button type="submit" class="btn btn-secondary" name="results">Resultados del Mes</button>
											   	    <button type="submit" class="btn btn-primary" name="aportes">Ejecutar C&aacute;lculo</button>
												 	<a href="#" th:href="@{'/home'}" class="btn btn-secondary">
												 	    <span> Cerrar </span> <span class="float-right" style="padding-left:6px;"><i class="fas fa-sign-out-alt"></i></span>
													</a>
						    				</div>
										</div>
								</div>								
							</form>					
                       </div>
                    </div>
                </div>
                <div class="tab-pane fade show" th:classappend=" ${basicoTab}" id="basico" role="tabpanel" aria-labelledby="basico-tab">
                    <div class="card"> 
                        <div class="card-header">
                   			<h4>Modificaci&oacute;n del B&aacute;sico</h4>
                        </div>
                        <div class="card-body">
                         	<div th:include="aportes/basico-form.html" th:remove="tag"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" th:classappend=" ${resultTab}" id="result" role="tabpanel" aria-labelledby="result-tab">
                    <div class="card"> 
                        <div class="card-header">
                        	<table style="width:100%">
                        		<tr>
                        			<td><h4>Resultado del c&aacute;lculo de Integraci&oacute;n</h4></td>
                        			<td style="text-align:right">
									    <a th:href="@{/pdfreport}" class="card-link" th:if="${haberesReport}"> Export a Pdf
								           <i class='fas fa-file-pdf' style='font-size:24px;'></i>
								        </a>
									    <a th:href="@{/pdfAguinaldoreport}" class="card-link" th:if="${aguinaldoReport}"> Export a Pdf
								           <i class='fas fa-file-pdf' style='font-size:24px;'></i>
								        </a>
                        			</td>
                        		</tr>
                        	</table>
                            
                        </div>
                        <div class="card-body">
                         	<div th:include="aportes/result-form.html" th:remove="tag"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>	
	</div>
	<div th:include="help-dialog.html" th:remove="tag"></div>

</body>
</html>