<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript">
	$("#prstNuevoForm :input").tooltip({
		 
	    // place tooltip on the right edge
	    position: "center right",
	
	    // a little tweaking of the position
	    offset: [-2, 10],
	
	    // use the built-in fadeIn/fadeOut effect
	    effect: "fade",
	
	    // custom opacity setting
	    opacity: 0.7
	
	    });
	
	window.setTimeout(function() {
	    $("#pnError").fadeTo(500, 0).slideUp(500, function(){
	        $(this).remove(); 
	    });
	}, 2000);

	window.setTimeout(function() {
	    $("#pnSuccess").fadeTo(500, 0).slideUp(500, function(){
	        $(this).remove(); 
	    });
	}, 2000);

</script>

<script type="text/javascript">
    $(document).ready(function() {
        //Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
        $('#plantaList').DataTable();
		$('#tiposPrstList').DataTable();
    } );
    
</script>
	
</head>
<body>
	<div class="container ">
		<form id="prstnuevoForm" th:object="${prstNuevoForm}" th:action="${editMode}? @{/editPrst}:@{/prestnuevoForm}" method="post"
			class="form" role="form" autocomplete="off">
			<input type="hidden" th:field="*{idfprestamos}" th:if="${editMode}">
			<input type="hidden" th:field="*{idfuncionario}" th:if="${editMode}">
			<input type="hidden" th:field="*{saldoPrst}" th:if="${editMode}">
			<input type="hidden" th:field="*{cuotasPagas}" th:if="${editMode}">
			<input type="hidden" th:field="*{idsolicitud}">
			<table style="width:100%">
				<tr>
					<td>
						<div class="form-group row">
			   				<label class="col-lg-4 col-form-label form-control-label">Funcionario</label>
			   				<div class="col-lg-6" th:unless="${editMode}">
								<select id="selfunc" th:field="${prstNuevoForm.idfuncionario}" th:disabled="${disabledFields}">
									<option value=""> Seleccionar una opci&oacute;n </option>
									<option th:each="funcionario :${plantaList}" th:value="${funcionario.idgplanta}" 
										th:text="${funcionario.nombre}"></option>
								</select>
				           		<input type="hidden" th:field="*{idfuncionario}">
				           </div>
				           <div class="col-lg-6" th:if="${editMode}">
				           		<input type="hidden" th:field="*{tarjeta}" th:if="${editMode}">
				           		<span th:text="${funcionario.nombre}"></span>
				           </div>
						</div>
					</td>
					<td>
						<div class="form-group row">
							<label class="col-lg-4 card-text">Capital</label>
							<div class="col-lg-6">
								<input id="capital" class="form-control" type="text" th:field="*{capitalPrst}"
									title="No usar separador de miles" disabled>
								<input type="hidden" th:field="*{capitalPrst}">
								<div class="alert-danger" th:if="${#fields.hasErrors('capitalPrst')}" th:errors="*{capitalPrst}">Capital</div>
							</div>
						</div>
					</td>
				</tr>				
				<tr>
					<td>
						<div class="form-group row">
		    				<label class="col-lg-4 col-form-label form-control-label">Tipo Pr&eacute;stamo</label>
		    				<div class="col-lg-6" th:unless="${editMode}">
		    					<select th:field="${prstNuevoForm.idtipoprst}" th:disabled="${disabledFields}">
		    						<option value=""> Seleccionar una opci&oacute;n </option>
		    						<option th:each="tipo :${tiposPrstList}" th:value="${tipo.idftipoprestamo}" th:text="${tipo.descripcion}"></option>
		    					</select>
		    					<input type="hidden" th:field="*{idtipoprst}" >
		    				</div>
		    				<div class="col-lg-6" th:if="${editMode}">
		    					<input type="hidden" th:field="*{idtipoprst}" >
		           				<span th:text="${tipoPrst.descripcion}"></span>
		    				</div>
						</div>
					</td>
					<td>
						<div class="form-group row">
							<label class="col-lg-4 text-left">Plazo</label>
							<div class="col-lg-6">
								<select th:field="*{idparamPrst}"  id="par-select"  th:disabled="${disabledFields}">
									<option value=""> Seleccionar una opci&oacute;n </option>
									<option th:each="parametro :${pprstList}" th:value="${parametro.idfparamprst}" th:text="${parametro.descripcion}" ></option>
								</select>
							</div>
							<input type="hidden" id="plazo" th:field="*{cantCuotas}">
						</div>				
					</td>				
				</tr>
				<tr>
				<td>
					<div class="form-group row">
		   				<label class="col-lg-4 col-form-label form-control-label">Nro. Pr&eacute;stamo</label>
		   				<div class="col-lg-2">
		   					<input type="hidden" th:field="*{nroprestamo}" >
		   					<span th:text="*{nroprestamo}"></span>
		   				</div>
					
					</div>
				</td>
				<td>
					<div class="form-group row">
						<label class="col-lg-4 text-left">Tasa</label>
						<div class="col-lg-6">
							<div id="valorTasa"  th:classappend="text-cuota" th:text="*{tasa} + ' %'"></div>
						</div>
						<input type="hidden" id="tasa" th:field="*{tasa}">
					</div>
				</td>
				</tr>
				<tr>
					<td>
						<div class="form-group row">
			   				<label class="col-lg-4 text-left">Fecha Prst.</label>
							<div class="col-lg-5 input-group datetime-local">
				               <input type="text" class="form-control" id="prstdate" th:value="*{fechaprestamo}" th:field="*{fechaprestamo}"/>
								<div class="alert-danger" th:if="${#fields.hasErrors('fechaprestamo')}" th:errors="*{fechaprestamo}">fecha prestamo</div>
							</div>
						</div>
					</td>
					<td>
						<div class="form-group row ">
							<label class="col-lg-4 col-form-label form-control-label">Valor de la Cuota: </label>
							<div class="col-lg-6">
								<span th:text="*{cuotaPrst}" th:classappend="text-cuota"></span>
								<input type="hidden" th:field="*{cuotaPrst}">
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<div class="form-group row ">
							<label class="col-lg-4 col-form-label form-control-label">Pr&eacute;stamos a Cancelar: </label>
							<div class="col-lg-6">
								<span th:text="*{prstAcancelar}" th:classappend="text-cuota"></span>
								<input type="hidden" th:field="*{prstAcancelar}">
							</div>
						</div>
					</td>
				</tr>
			</table>
			<div class="form-group  mx-auto ">
				<div class="col-lg-12 text-center">
                   <a class="btn btn-secondary" th:href="@{'/editPrst/cancel'}">Cancel</a>
			   	    <button type="submit" class="btn btn-primary" name="savePrst" >
			   	    	<span th:text="${editMode}? 'Salvar Prst.' : 'Ingresar Prst.'"></span>
			   	    </button>
				</div>
			</div>
		    <div id="pnError" class="alert alert-danger text-center" th:if="${prstNuevoForm.errorMessage}" th:text="${prstNuevoForm.errorMessage}">Error Message</div>
		    <div id="pnSuccess" class="alert alert-success text-center" th:if="${prstNuevoForm.successMessage}" th:text="${prstNuevoForm.successMessage}">SuccessMessage</div>
		</form>
	</div>
	<script th:inline="javascript">
		$('#par-select').change(function submitparametro(){   
		    var id = $(this).val();
			
		    var lst = [[${pprstList}]];
		    for(let i = 0; i < lst.length; i++){
		    	if(lst[i]["idfparamprst"] == id){
				    $('#valorTasa').html([[${pprstList}]][i]["tasa"]);
					$('#tasa').val([[${pprstList}]][i]["tasa"]);
					$('#plazo').val([[${pprstList}]][i]["meses"]);
					var tasa = [[${pprstList}]][i]["tasa"];		    		
		    	}
		    }
			
		});		
	</script>
	<script type="text/javascript">
	$('select').on('change', function() {
		  $("#estadoCta").hide();
		});
	</script>
</body>
</html>