<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/header :: head(titulo='Informaci&oacute;n de Usuarios de la App', plantilla='passw-form')">
</head>

<body>
	<div class="main-section modal-dialog text-center modal-content" >
      <div class="col-12 modal-header">
        <h5 class="modal-title close" id="resetPasswordLongModal">Redefinir Contrase&ntilde;a</h5>
		<a href="#" th:href="@{'/login'}" class="nav-link close" ><span><i class="fas fa-times close-button" ></i></span></a>
      </div>
      <div class="col-12 modal-body">
        <form id="resetPasswordForm" th:object="${passwordForm}" th:action="@{/reset_password}" method="post" class="form" role="form">
 			<input class="form-control" type="hidden" th:field="${passwordForm.id}"> 
			<input class="form-control" type="hidden" th:field="${passwordForm.currentPassword}">
			<input type="hidden" name="token" th:value="${token}" />
			
			<div class="form-group row">
				<label class="col-lg-3 col-form-label form-control-label label-white">Contrase&ntilde;a Nueva</label>
				<div class="col-lg-9">
					<input class="form-control" type="password" name="newPassword" th:field="${passwordForm.newPassword}"
						placeholder="Ingrese la contrase&ntilde;a deseada" required>
					<div class="alert-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Password</div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-lg-3 col-form-label form-control-label label-white">Confirmaci&oacute;n</label>
				<div class="col-lg-9">
					<input class="form-control" type="password" name="confirmPassword" th:field="${passwordForm.confirmPassword}"
						placeholder="Confirme la contrase&ntilde;a ingresada" required>
					<div class="alert-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Confirm Password</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="alert alert-danger d-none text-center" id="changePasswordError">Change Password Error</div>
				<div class="alert alert-success d-none text-center" id="formSuccess"></div>
           		<div class="alert alert-danger text-center" th:if="${formError}" th:text="${formError}">Error Message</div>
           		<div class="alert alert-success text-center"th:if="${formMessage}" th:text="${formMessage}">Success MEssage</div>
			</div>
           <div class="form-group row mx-auto">
               <div class="col-lg-12 text-center">
			       <a href="#" th:href="@{'/login'}" class="btn btn-secondary">Cerrar</a>
					<input type="submit" class="btn btn-primary"
                       value="Guardar" th:value="Guardar">
               </div>
           </div>
        </form>
      </div>
    </div>
</body>
</html>

